<div class="container-fluid">
  <div class="dashboard">
    <!-- Sidebar -->
    <div class="sidebar">
      <h2>Dashboard</h2>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/api/planner">Planner</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/finder">Recipe Finder</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/user">User Stats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Log Out</a>
        </li>
      </ul>
    </div>

    <!-- Main content -->
    <div class="main-content">
      <h2>Main Content</h2>
      {{#if showPlanner}}
        {{>planner}}
      {{/if}}
      {{#if showStats}}
        {{>stats}}
      {{/if}}
      {{#if showFinder}}
        {{>finder}}
      {{/if}}
    </div>
  </div>