<div id="generate-mealplan" class="container text-center mt-5 bg-dark p-4 rounded">
    <div id="daily-meal">
        <h2 class="text-light mb-4">Daily Meal Plan</h2>
        <div id="breakfast" class="mb-4">
            <h3 class="text-light">Breakfast</h3>
            <!-- Images and titles for breakfast meals will be inserted here -->
        </div>
        <div id="lunch" class="mb-4">
            <h3 class="text-light">Lunch</h3>
            <!-- Images and titles for lunch meals will be inserted here -->
        </div>
        <div id="dinner">
            <h3 class="text-light">Dinner</h3>
            <!-- Images and titles for dinner meals will be inserted here -->
        </div>
    </div>

    <div class="mt-4">
        <button id="generate-button" class="btn btn-primary me-3">Generate Meal Plan</button>
        <button id="save-button" class="btn btn-success">Save</button>
    </div>
     <form action="/meals" method="GET" class="mt-4">
        <div class="form-group row justify-content-center">
            <label for="mealDate" class="col-sm-2 col-form-label text-light">Select Date:</label>
            <div class="col-sm-4">
                <input type="date" id="mealDate" name="date" class="form-control">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Retrieve Saved Meals</button>
            </div>
        </div>
    </form>

    <!-- Display the list of meals if available -->
    {{#if mealsData}}
    <ul id="mealList" class="list-group mt-4">
        {{#each mealsData}}
        <li class="list-group-item">{{this.title}}</li>
        {{/each}}
    </ul>
    {{else}}
    <p class="text-light mt-4">No meals available for the selected date.</p>
    {{/if}}
</div>



<script src="/js/planner.js"></script>
