<div>
</div>
<div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Breakfast</h5>
        <!-- First inner card -->
        <a href=""><div class="card">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">{{}}</h6>
            <p class="card-text">This is the content of the first inner card.</p>
          </div>
        </div>
        </a>
        <!-- Second inner card -->
        <div class="card mt-3">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">{{}}</h6>
            <p class="card-text"><a href="{{}}">{{}}</a></p>
            <img src="{{}}" alt="Recipe Picture">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Lunch</h5>
        <!-- First inner card -->
        <div class="card">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">{{}}</h6>
            <p class="card-text">This is the content of the first inner card.</p>
          </div>
        </div>
        <!-- Second inner card -->
        <div class="card mt-3">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">{{}}</h6>
            <p class="card-text">This is the content of the second inner card.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Dinner</h5>
        <!-- First inner card -->
        <div class="card">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">{{}}</h6>
            <p class="card-text">This is the content of the first inner card.</p>
          </div>
        </div>
        <!-- Second inner card -->
        <div class="card mt-3">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">{{}}</h6>
            <p class="card-text">This is the content of the second inner card.</p>
          </div>
        </div>
      </div>
    </div>
  </div>