<div class="container-fluid justify-content-center d-flex flex-column min-vh-100 align-items-center">
  <h1 class="text-center mt-3">Signup</h1>
  <div class="col-lg-6 d-flex flex-column container-fluid justify-content-center">
    <form class="border border-2 rounded-2 d-flex flex-column p-4 mt-3 mb-4 needs-validation" novalidate>

      <div class="row d-flex">
        <div class="form-floating mb-3 col">
          <input class="form-control" type="text" id="fname" />
          <label class="form-label" for="fname">First Name:</label>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please enter first name.</div>
        </div>
        <div class="form-floating mb-3 col">
          <input class="form-control" type="text" id="lname" />
          <label class="form-label" for="lname">Last Name:</label>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please enter last name.</div>
        </div>
      </div>

      <div class="form-floating mb-3 col">
          <input class="form-control" type="text" id="email" required/>
          <label class="form-label" for="email">E-Mail:</label>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please enter valid email.</div>
        </div>

        <div class="form-floating mb-3 col">
          <input class="form-control" type="password" id="password" required/>
          <label class="form-label" for="password">Password:</label>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Must be minimum 8 charachters.</div>
        </div>
      

      <div class="mb-3 col">
        <label class="form-label" for="sex">Sex:</label>
        <select class="form-select" aria-label="sex" id="sex">
          <option value="" selected disabled>Choose sex</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">Please select an option.</div>
      </div>

      <div class="form-floating mb-3 col">
        <input class="form-control" type="text" id="age" />
        <label class="form-label" for="age">Age:</label>
        <div class="valid-feedback">Looking good!</div>
          <div class="invalid-feedback">Please enter valid age.</div>
      </div>
      
      <div class="form-floating mb-3 col">
        <input class="form-control" type="text" id="weight" />
        <label class="form-label" for="weight">Weight:</label>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter valid weight in pounds.</div>
      </div>

      <div class="row">
        <div class="form-floating mb-3 col">
          <input class="form-control" type="text" id="height-ft" />
          <label class="form-label" for="height-ft">Height(ft):</label>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please enter valid height in feet.</div>
        </div>

        <div class="form-floating mb-3 col">
          <input class="form-control" type="text" id="height-in" />
          <label class="form-label" for="height-in">Height(in):</label>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please enter valid height in inches.</div>
        </div>
      </div>
      <div class="mb-3 col">
        <label class="form-label" for="activity-level">Activity Level:</label>
        <select class="form-select" aria-label="Activity Level" id="activity-level">
          <option value="null" selected disabled>Choose activity level</option>
          <option value="sedentary">Sedentary</option>
          <option value="light">Lightly Active</option>
          <option value="moderate">Moderately Active</option>
          <option value="active">Very Active</option>
          <option value="extra">Extra Active</option>
        </select>
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">Please select an option.</div>
      </div>
      <div class="mt-3 col mx-auto">
        <button class="btn btn-primary" type="submit" id="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/formValidation.js"></script>
<script src="/js/register.js"></script>

