<!-- views/searchRecipes.handlebars -->

<section>
    <h2>Search for Recipes</h2>
    <form action="/recipes/search/:query" method="GET">
        <label for="query">Enter ingredients or keywords:</label>
        <input type="text" id="query" name="query" required>
        <button type="submit">Search</button>

        
    </form>
</section>
