<div class="container-fluid justify-content-center d-flex flex-column min-vh-100 align-items-center">
    <h1 class="text-center">You have succesfully signed up!</h1>
    <div class="mt-3 col mx-auto">
        <button class="btn btn-primary" type="submit" id="login">Log In</button>
    </div>
</div>

<script src="/js/register.js"></script>
