<form id="nutritionForm">
  <input type="number" id="age" name="age" placeholder="Age" required>
  <input type="number" id="weight" name="weight" placeholder="Weight (pounds)" required>
  
  <!-- need to add other fields -->
  <button type="submit">Update</button>
</form>

<div id="calorieOutput">Caloric Needs: <span id="calories">0</span> calories</div>
<div id="calorieOutput">Caloric Needs: <span id="calories">0</span> calories</div>
<div id="calorieOutput">Caloric Needs: <span id="calories">0</span> calories</div>
<div id="calorieOutput">Caloric Needs: <span id="calories">0</span> calories</div>

<script src="../public/js/realTimeNutrition.js"></script>